*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
}

.inner-container{
    flex:1;
    margin: 10px;
    width: 20%;
    height: 90vh;
    border-radius: 20px;
    background: white no-repeat scroll center;
    filter: grayscale(100);
    transition: flex 0.5s ease-in-out;
}
.inner-container h3{
    font-size: 24px;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
}
.active{
    flex:3;
    filter: grayscale(0)
}

#inner-container-1{
    background-image: url("images/mumbai.jpg");
}
#inner-container-2{
    background-image: url("images/quebec.jpg");
}
#inner-container-3{
    background-image: url("images/spain.jpg");
}
#inner-container-4{
    background-image: url("images/bangkok.jpg");
}
#inner-container-5{
    background-image: url("images/tokyo.jpg");
}
